<%= form_tag admin_user_update_password_path, class:"definewidth m20", target: "_top" do %>
    <table class="table table-bordered table-hover definewidth m10">
      <tr>
        <td width="10%" class="tableleft">新密码</td>
        <td>
	  <%= password_field_tag :password %>
        </td>
      </tr>
      <tr>
        <td width="10%" class="tableleft">确认密码</td>
        <td>
	  <%= password_field_tag :password_confirmation %>
        </td>
      </tr>      
      <tr>
        <td class="tableleft"></td>
        <td>
          <%= submit_tag "确定", :class => "btn btn-primary" %>&nbsp;&nbsp;
        </td>
      </tr>
    </table>
<% end %>
